
<% layout('layout/boilerplate') -%>
 <div class="gridster">
		<ul>
		<% 
		c = 1
		for (loc in locs) { %>
			<% var city = locs[loc] %>
			<li data-row="<%- c  %><% c == 1 ? ++c : --c %>" data-col="1" data-sizex="1" data-sizey="1">
				<h1><%- loc %></h1>
				<h4><%- city.time %></h4>
			</li>
		<% } %>
		</ul>
		
      </div>
