
<% layout('layout/boilerplate') -%>
 <div class="gridster">
          <ul>
	          <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
				<h1>Chicago</h1>
				<h2>December 25, 2009</h2>
				<h3>4:22 P.M.</h3>
			  </li>
	          <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">2</li>
			  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">3</li>
	          <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">4</li>


          </ul>
      </div>
