<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/jquery.gridster.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
    <link rel='stylesheet' href='/stylesheets/custom.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.gridster.min.js"></script>
    <script type="text/javascript" src="/javascripts/zime.custom.v1.js"></script>
  </head>
  <body>
      <div id="wrap">
          <%- partial('header') %>
        <div class="container">
           <div id="component-grid">
                <%-body -%>
           </div>
        </div>
      </div>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
